*.aux
*.log
*.out
*.pdf
*.DS_Store
raytrace/obj
raytrace/raytrace
**/*.ppm
main.synctex.gz
*.exe
*.exe
raytracer/a.exe
*.exe
.vscode/settings.json
.vscode/settings.json
scene/graphics/box-blende-normalr.mtl
scene/graphics/box-blende-normalr.obj
scene/graphics/Chair.fbx
scene/graphics/Chair.mb
scene/graphics/Chair.obj
scene/graphics/file1.obj
scene/graphics/IronMan.obj
scene/graphics/Koltuk.obj
scene/graphics/metalchair.mtl
scene/graphics/metalchair.obj
scene/graphics/new.obj
scene/graphics/new2.txt
scene/graphics/plant.obj
scene/graphics/pumpkin.obj
scene/graphics/scene - Copy.obj
scene/graphics/scene.mtl
scene/graphics/scene.obj
scene/graphics/script.py
scene/*
